.btn {
  &--link {
    text-decoration: underline;
  }
}

.icon {
  &--social-midia {
    align-items: center;
    background-color: $blue;
    border-radius: 20px;
    color: white;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;
  }
}

input {
  &:focus-visible {
    outline: none;
  }
}

p,
h2,
h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
