.btn {
  &--link {
    text-decoration: underline;
  }
}

input {
  &:focus-visible {
    outline: none;
  }
}

p,
h2,
h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
