/* color palette */
$gray-1: #F5F5F5;
$gray-2: #D8D8D8;
$gray-3: #E5E5E5;
$gray-4: #4A4A4A;
$gray-5: #3A3A3A;

$black: #222D39;

$blue: #28B0FC;

/* project variables */
$header-height: 96px;
$footer-height: 296px;
